.reviewForm {
	display: grid;
	align-items: center;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
}

.description,
.submit {
	grid-column: start / end;
}

.title {
	justify-self: left;
}

.info {
	margin-left: 15px;
}

.rating {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
}

.panel {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
}

.success {
	background-color: var(--green-light);
}

.error {
	background-color: var(--red-light);
}

.error .close path {
	stroke: var(--red);
}

.successTitle {
	font-weight: bold;
}

.successClose {
	position: absolute;
	top: 20px;
	right: 20px;

	cursor: pointer;

	border: none;
	background: none;
}

@media screen and (max-width: 1080px) {
	.reviewForm {
		grid-template-columns: [start] 1fr auto [end];
	}

	.rating {
		grid-column: start / end;
	}

	.title {
		justify-self: normal;
	}
}

@media screen and (max-width: 640px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];
	}
}
